body{
    font-family: monospace;
    
    margin: 0;
}

.article-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Barre de navigation*/
header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: black;
    opacity: 0.7;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(japon.jpg);
}

.banner-text{
    padding-top: 250px;
    padding-left: 350px;
    font-size: 30px;
}

/* Présentation de moi */
#presentation{
    background-color: #E2EFFB;
    padding: 60px;
    height: 500px;
    width: auto;
   box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
}

.photo{
    float: left;
    margin-right: 20px;
}

p{
    text-align: justify;
}

/*Projet scolaire*/
#projet{
    background-color: #165E9E;
    width: auto;
    height: auto;
    padding: 40px;
    
}

.project-block{
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 20px;
    width: 1000px;
    height: 250px;
}

.project-photo{
    float: left;
    margin:  auto 20px auto;
    height: 200px;
    width: 300px;
}

.qrcode{
    float: right;
    margin-right: 20px;
}


/*Parcours scolaire*/
#formation{
    margin: 0;
    padding: 40px;
    padding-bottom: 0px;
    line-height: 1.5;
    font-weight: 400;
    color: black;
    background-color: #E2EFFB;
    overflow-x: hidden;
}

.container{
    padding: 2rem;
    padding-bottom: 400px;
    margin: 0 auto;
    max-width: 800px;
}

.timeline{
    position: relative;
    min-height: 150px;
}

.line{
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: #000;
    display: none;
}

.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}

.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.content{
    width: calc(50% - 2rem);
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}

.formation-logo{
    height: 50px;
    width: 200px;
}

/* Loisirs */
#loisirs{
    height: auto;
    width: auto;
    background-color: #165E9E;
    padding: 40px;
}

.loisirs-box{
    border-collapse: separate;
    border-spacing: 20px 30px;
}

.loisirs-content{
    background-color: teal;
    width: 250px;
    height: 350px;
    padding: 30px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.loisirs-title{
    text-align: center;
}

.loisirs-pic{
    width: 230px;
    height: 150px;
}


/* Formulaire de contact */
#contact{
    padding: 40px;
    background-color: #E2EFFB;
    height: 550px;
}

.left-column{
    float: left;
    margin: 40px;
    padding: 30px;
}

.right-column{
    float: left;
    margin: 40px;
    padding: 30px;
}


/* Pied de page */
footer{
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    position: static;
    width: 100%;
    height: 40px;
    padding-top: 15px;
}

#icons {
    text-align: center;
}

#icons a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: black;
}

#icons-perso ul{
    list-style: none;
    padding-left: 0px;
}

#icons-perso a{
    font-size: 1.3em;
    color: black;
}

